---
---

// Headers
$header-heading-color: #ffffff;
$header-bg-color: #000000;
$header-bg-color-secondary: #01281B;

// Text
$section-headings-color: #ffffff;
$body-text-color: #dfdfdf;
$body-link-color: #40ce9e;
$blockquote-text-color: #c4c4c4;

// Code
$code-bg-color: #4e4e4e;
$code-text-color: #ffffff;

// Borders
$border-color: #dbdbdb;
$table-border-color: #e4e4e4;
$hr-border-color: #e9e9e9;

@import "{{ site.theme }}";

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color:#000000
}

.responsive {
    width: 75%;
    height: 0;
    padding-bottom: 42.1875%;
    position: relative;
}

.responsive iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
